#
# https://help.github.com/articles/dealing-with-line-endings/
#
# These are explicitly windows files and should use crlf
*.bat           text eol=crlf
*.js linguist-vendored
*.html linguist-vendored
*.css linguist-vendored
